<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ryan.dao.rb.RbFileIndexDao">
	<!-- 返回结果集封装对象 -->
	<resultMap id="fileIndexMap" type="cn.ryan.model.rb.RbFileIndex">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="PKEY" property="pkey" jdbcType="VARCHAR" />
		<result column="FILE_TYPE" property="fileType" jdbcType="INTEGER" />
		<result column="FILE_NAME" property="fileName" jdbcType="VARCHAR" />
		<result column="FILE_INDEX" property="fileIndex" jdbcType="VARCHAR" />
		<result column="FILE_UPDATE_DATE" property="fileUpdateDate" jdbcType="VARCHAR" />
		<result column="FILE_SIZE" property="fileSize" jdbcType="BIGINT" />
		<result column="READ_TIMES" property="readTimes" jdbcType="INTEGER" />
	</resultMap>

	<!-- 返回分页查询列表 -->
	<select id="findByPage" resultMap="fileIndexMap" parameterType="map">
		SELECT f.* FROM T_RB_FILE_INDEX f WHERE 1=1
		<if test="EQ_fileType!=''">AND f.FILE_TYPE=#{EQ_fileType} </if>
		<if test="RIGHTLIKE_fileIndex!=''">AND f.FILE_INDEX like CONCAT(#{RIGHTLIKE_fileIndex},'%') </if>
		ORDER BY f.ID
	</select>

	<!-- 根据ID返回一条记录 -->
	<select id="findOne" resultMap="fileIndexMap" parameterType="java.lang.Integer">
		SELECT * FROM T_RB_FILE_INDEX WHERE ID=#{id}
	</select>

	<!-- 新增一笔记录 -->
	<insert id="save" parameterMap="fileIndexMap">
		<![CDATA[
		INSERT INTO T_RB_FILE_INDEX(PKEY,FILE_TYPE,FILE_NAME,FILE_INDEX,FILE_UPDATE_DATE,FILE_SIZE,READ_TIMES)
		VALUES(#{pkey},#{fileType},#{fileName},#{fileIndex},#{fileUpdateDate},#{fileSize},#{readTimes})
		]]>
	</insert>
	
	<update id="update" parameterMap="fileIndexMap">
	
	</update>

	<!-- 删除一笔记录 -->
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM T_RB_FILE_INDEX WHERE ID=#{id}
	</delete>
</mapper>