<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ryan.dao.rb.RbRobotModeDao">
	<!-- 返回结果集封装对象 -->
	<resultMap id="robotModeMap" type="cn.ryan.model.rb.RbRobotMode">
		<id column="RBID" property="rbid" jdbcType="INTEGER" />
		<result column="MDESC" property="mdesc" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
		<result column="LAST_MODIFY_DATE" property="lastModifyDate" jdbcType="VARCHAR" />
		<association column="MODE" property="mode" javaType="cn.ryan.model.rb.RbRobot"
			select="cn.ryan.dao.rb.RbRobotDao.findOne" />
		<association column="CREATOR_ID" property="creatorUser" javaType="cn.ryan.model.SysUser"
			select="cn.ryan.dao.SysUserDao.findOne" />
		<association column="MODIFIER_ID" property="modifierUser" javaType="cn.ryan.model.SysUser"
			select="cn.ryan.dao.SysUserDao.findOne" />
	</resultMap>

	<!-- 返回分页查询列表 -->
	<select id="findByPage" resultMap="robotModeMap" parameterType="map">
		SELECT m.* FROM T_RB_ROBOT_MODE m WHERE 1=1
		<if test="EQ_status!='' and EQ_status!=null">AND m.STATUS=#{EQ_status} </if>
		<if test="EQ_mode!='' and EQ_mode!=null">AND m.MODE=#{EQ_mode}</if>
		ORDER BY m.RBID
	</select>

	<!-- 根据ID返回一条记录 -->
	<select id="findOne" resultMap="robotModeMap" parameterType="java.lang.Integer">
		SELECT * FROM T_RB_ROBOT_MODE WHERE RBID=#{id}
	</select>

	<!-- 新增一笔记录 -->
	<insert id="save" parameterType="cn.ryan.model.rb.RbRobotMode" useGeneratedKeys="true" keyProperty="rbid"
		keyColumn="RBID">
		INSERT INTO T_RB_ROBOT_MODE (MODE,MDESC,STATUS,CREATE_DATE,CREATOR_ID,LAST_MODIFY_DATE,MODIFIER_ID)
		VALUES(#{mode.mode},#{mdesc},#{status},#{createDate},#{creatorUser.userId},#{lastModifyDate},#{modifierUser.userId})
	</insert>

	<!-- 修改一笔记录 -->
	<update id="update" parameterType="cn.ryan.model.rb.RbRobotMode">
		UPDATE T_RB_ROBOT_MODE SET
		MODE=#{mode.mode},MDESC=#{mdesc},STATUS=#{status},MODIFIER_ID=#{modifierUser.userId},
		LAST_MODIFY_DATE=#{lastModifyDate} WHERE RBID=#{rbid}
	</update>

	<!-- 删除一笔记录 -->
	<delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM T_RB_ROBOT_MODE WHERE RBID=#{rbid}
	</delete>

</mapper>