/** Main Win **/
.main-win{
	-fx-background-image: url("/img/main_bg.png");
	-fx-background-size: 100.0% 100.0%;
}
.main-win:hover {
	-fx-cursor: pointer;
}

.main-win-boll{
	-fx-background-image: url("/img/blueflame.png");
	-fx-background-size: 100.0% 100.0%;
	-fx-padding: 10.0 5.0 10.0 5.0;
}

.min-win-title{
	-fx-pref-width:300.0px;
}

.main-win-boll:hover {
	-fx-cursor: hand;
	-fx-background-image: url("/img/redflame.png");
}
.main-win-boll-sp{
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

.win-menu-box{
	-fx-background-radius: 5.0px;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
}

.win-menu-list {
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10.0;
    -jfx-expanded: false;
    -fx-pref-width: 120.0;
    -fx-background-radius: 5.0px;
    -fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.9), 5.0, 0.0, 0.0, 1.0);
}

.win-menu-list .list-cell:odd:selected,.win-menu-list .list-cell:even:selected {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.win-menu-list .list-cell{
	-fx-text-fill: #292e34;
    -fx-font-family: Arial;
    -fx-pref-height: 30.0px;
}

.main-win-menu-pop{
	-fx-border-color: red;
    -fx-border-width: 2.0;
    -fx-border-radius: 5.0;
    -fx-padding: 10.0 5.0 10.0 5.0;
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.6), 5.0, 0.0, 0.0, 1.0);
}
.main-win-menu-pop Text{
	 -fx-font-size: 18.0px;
	 -fx-fill:red;
}
.main-win-menu-pop Text:hover{
	-fx-fill:#FFF;
}

.login-win {
	-fx-background-image: url("/img/bg.jpg");
}

.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#61a2b1, #2A5058);
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.6), 5.0, 0.0, 0.0, 1.0);
}

.button:hover {
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}